<div class="tab moves" data-group="primary" data-tab="moves">
	<section class="sheet-tab">

		{{!-- Resources row --}}
		{{#if isCharacter}}
		<section class="sheet-resources flexrow">
			{{#if (not sheetSettings.hideForward)}}
			<div class="cell cell--forward">
				<label class="cell__title">{{localize "PBTA.Forward"}}</label>
				<div class="cell__wrapper">
					<button type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="resources.forward.value">-</button>
					<input type="number" name="system.resources.forward.value" value="{{system.resources.forward.value}}" data-dtype="Number"/>
					<button type="button" class="resource-control resource-increase" data-action="increase" data-attr="resources.forward.value">+</button>
				</div>
			</div>
			{{/if}}
			{{#if (not sheetSettings.hideOngoing)}}
			<div class="cell cell--ongoing">
				<label class="cell__title">{{localize "PBTA.Ongoing"}}</label>
				<div class="cell__wrapper">
					<button type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="resources.ongoing.value">-</button>
					<input type="number" name="system.resources.ongoing.value" value="{{system.resources.ongoing.value}}" data-dtype="Number"/>
					<button type="button" class="resource-control resource-increase" data-action="increase" data-attr="resources.ongoing.value">+</button>
				</div>
			</div>
			{{/if}}
			{{#if (not sheetSettings.hideRollMode)}}
			<div class="cell cell--roll-mode">
				<label class="cell__title">{{localize "PBTA.RollMode"}}</label>
				{{radioBoxes 'flags.pbta.rollMode' config.rollModes checked=flags.pbta.rollMode localize=true}}
			</div>
			{{/if}}
		</section>
		{{/if}}

		{{#if stonetop.movelist.playbookMoves.length}}
				<div class="stonetop-move-group">
					<h3 class="stonetop-move-group-title">Playbook Moves</h3>
				{{#if stonetop.movelist.startingMovesNote}}
				<p class="stonetop-moves-note">{{stonetop.movelist.startingMovesNote}}</p>
				{{/if}}
					<ol class="items-list">
					{{#each stonetop.movelist.playbookMoves}}
						{{#if (and owned rollType)}}
						<li class="item stonetop-move-item{{#if isStarting}} move-starting{{/if}}" data-item-id="{{ownedId}}">
						{{else}}
						<li class="stonetop-move-item{{#if locked}} move-locked{{/if}}{{#if isStarting}} move-starting{{/if}}">
						{{/if}}
							<div class="stonetop-move-header">
								{{#if repeatable}}
								<span class="stonetop-repeat-checks">
									{{#each repeatChecks}}
									<input type="checkbox" class="stonetop-repeat-check"
									       data-compendium-id="{{../compendiumId}}"
									       data-owned-id="{{ownedId}}"
									       {{#if checked}}checked{{/if}}
									       {{#if disabled}}disabled{{/if}}>
									{{/each}}
								</span>
								{{else}}
								<input type="checkbox" class="stonetop-move-check"
								       data-compendium-id="{{compendiumId}}"
								       data-owned-id="{{ownedId}}"
								       {{#if owned}}checked{{/if}}
								       {{#if (or isStarting locked)}}disabled{{/if}}>
								{{/if}}
								<strong class="stonetop-move-name">{{name}}</strong>
								{{#if (and owned rollType)}}
								<span class="rollable move-rollable" data-roll="{{rollType}}" data-mod="">
									<i class="fas fa-dice-d6"></i>
								</span>
								{{/if}}
								{{#if (and owned resourceChecks)}}
								<span class="stonetop-move-resources">
									{{#each resourceChecks}}
									<button type="button" class="stonetop-move-resource-check{{#if checked}} is-checked{{/if}}"
									        data-move-name="{{../name}}"
									        data-index="{{@index}}"></button>
									{{/each}}
								</span>
								{{/if}}
							</div>
							<div class="stonetop-move-description">{{{description}}}</div>
							{{#if requiresLabel}}<p class="stonetop-move-note">Requires: {{requiresLabel}}</p>{{/if}}
							{{#if requiresPlaybook}}<p class="stonetop-move-note">Requires {{requiresPlaybook}} playbook</p>{{/if}}
							{{#if minLevel}}<p class="stonetop-move-note">Level {{minLevel}}+</p>{{/if}}
						</li>
					{{/each}}
					</ol>
				</div>
			{{/if}}

		{{#each stonetop.movelist.otherGroups}}
				<div class="stonetop-move-group">
					<h3 class="stonetop-move-group-title">{{label}}</h3>
					<ol class="items-list">
					{{#each moves}}
						{{#if rollType}}
						<li class="item stonetop-move-item" data-item-id="{{ownedId}}">
						{{else}}
						<li class="stonetop-move-item">
						{{/if}}
							<div class="stonetop-move-check-wrap">
								{{#if rollType}}
								<span class="rollable move-rollable" data-roll="{{rollType}}" data-mod="">
									<i class="fas fa-dice-d6"></i>
								</span>
								{{/if}}
							</div>
							<div class="stonetop-move-body">
								<strong class="stonetop-move-name">{{name}}</strong>
							</div>
						</li>
					{{/each}}
					</ol>
				</div>
				{{/each}}

	</section>
</div>
