<form class="{{cssClass}}" autocomplete="off">
	<div class="sheet-wrapper">

		{{> "pbta.actor-header"}}

		<section class="sheet-top flexcol">
			{{#if stonetop.playbook}}
			<div class="stonetop-playbook-header">
				<div class="stonetop-playbook-header-left">
					{{#if stonetop.playbook.titleImg}}
					<img class="stonetop-playbook-title-img" src="{{stonetop.playbook.titleImg}}" alt="{{stonetop.playbook.name}}">
					{{/if}}
					{{#if stonetop.playbook.description}}
					<p class="stonetop-playbook-description">{{stonetop.playbook.description}}</p>
					{{/if}}
				</div>
				{{#if stonetop.playbook.img}}
				<img class="stonetop-playbook-icon" src="{{stonetop.playbook.img}}" alt="">
				{{/if}}
			</div>
			{{/if}}

			{{> "stonetop.section-heading" title=(localize "stonetop.character.stats.sectionTitle") note=stonetop.playbook.statsNote}}

			<section class="sheet-attributes flexrow">
				{{> "pbta.actor-stats"}}
			</section>
			<div class="stonetop-debilities">
				<div class="stonetop-debility">
					<span class="stonetop-debility-bracket"></span>
					<label class="stonetop-debility-control">
						<input type="checkbox" class="attr-list"
						       name="system.attributes.debilities.options.weakened.value"
						       {{#if system.attributes.debilities.options.weakened.value}}checked{{/if}}>
						<span class="stonetop-debility-label">weakened</span>
					</label>
				</div>
				<div class="stonetop-debility">
					<span class="stonetop-debility-bracket"></span>
					<label class="stonetop-debility-control">
						<input type="checkbox" class="attr-list"
						       name="system.attributes.debilities.options.dazed.value"
						       {{#if system.attributes.debilities.options.dazed.value}}checked{{/if}}>
						<span class="stonetop-debility-label">dazed</span>
					</label>
				</div>
				<div class="stonetop-debility">
					<span class="stonetop-debility-bracket"></span>
					<label class="stonetop-debility-control">
						<input type="checkbox" class="attr-list"
						       name="system.attributes.debilities.options.miserable.value"
						       {{#if system.attributes.debilities.options.miserable.value}}checked{{/if}}>
						<span class="stonetop-debility-label">miserable</span>
					</label>
				</div>
			</div>

			<section class="sheet-attributes-top">
				{{~> "pbta.actor-attributes" attrs=system.attrTop cssClass="cell--attributes-top flexrow" owner=owner editable=editable~}}
			</section>

			{{#if (objLen system.attrLeft)}}
			<section class="sheet-attributes-left">
				{{~> "pbta.actor-attributes" attrs=system.attrLeft cssClass="cell--attributes-left flexrow" owner=owner editable=editable~}}
			</section>
			{{/if}}

		</section>

		<section class="sheet-main flexcol">
			<nav class="sheet-tabs tabs" data-group="primary">
				<a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
				<a class="item" data-tab="inventory">{{localize "stonetop.sheet.tabs.inventory"}}</a>
				<a class="item" data-tab="arcana">{{localize "stonetop.sheet.tabs.arcana"}}</a>
				<a class="item" data-tab="followers">{{localize "stonetop.sheet.tabs.followers"}}</a>
				<a class="item" data-tab="details">{{localize "stonetop.sheet.tabs.details"}}</a>
				<a class="item" data-tab="post-death">{{localize "stonetop.sheet.tabs.postDeath"}}</a>
			</nav>

			<div class="stonetop-sheet-layout">
				<section class="sheet-body">
					{{> "stonetop.tab-moves"}}
					{{> "stonetop.tab-equipment"}}
					{{> "stonetop.tab-arcana"}}
					{{> "stonetop.tab-followers"}}
					{{> "stonetop.tab-details"}}
					{{> "stonetop.tab-post-death"}}
				</section>

				<div class="stonetop-moves-sidebar">
					{{#each stonetop.moves.categories}}
					{{#if (eq renderStyle "side-bar")}}
					{{> "stonetop.section-heading" title=label}}
					<ol class="items-list">
					{{#each moves}}
						{{#if (and ownedId rollType)}}
						<li class="item stonetop-move-item" data-item-id="{{ownedId}}">
						{{else}}
						<li class="stonetop-move-item move-unowned">
						{{/if}}
							{{#if (and ownedId rollType)}}
							<span class="rollable move-rollable" data-roll="{{rollType}}" data-mod="">
								<i class="fas fa-dice-d6"></i>
							</span>
							{{/if}}
							<span class="stonetop-move-name stonetop-basic-move-open"
						      data-compendium-id="{{id}}">{{name}}</span>
						</li>
					{{/each}}
					</ol>
					{{/if}}
					{{/each}}
				</div>
			</div>
		</section>

	</div>
</form>
