<div class="tab stonetop-creation" data-group="primary" data-tab="creation">
	{{#if creation}}

	<section class="creation-section">
		<h3>Background <span class="creation-choose">Choose 1</span></h3>
		{{#each creation.backgrounds}}
		<label class="creation-option creation-option--block">
			<input type="radio" name="creation-background" class="creation-choice"
			       data-field="background" value="{{slug}}"
			       {{#if selected}}checked{{/if}} />
			<span class="creation-option__label">{{label}}</span>
			<div class="creation-option__desc">{{{description}}}</div>
		</label>
		{{#if (and selected choices)}}
		<div class="creation-subchoices">
			<p class="creation-subchoices__label">{{choices.label}} <span class="creation-choose">Choose {{choices.countLabel}}</span></p>
			{{#each choices.options}}
			<label class="creation-option">
				<input type="checkbox" class="creation-choice"
				       data-field="backgroundChoices.{{slug}}" value="{{slug}}"
				       {{#if selected}}checked{{/if}} />
				{{label}}
			</label>
			{{/each}}
		</div>
		{{/if}}
		{{/each}}
	</section>

	<section class="creation-section">
		<h3>Instinct <span class="creation-choose">Choose 1</span></h3>
		<div class="creation-options-row">
			{{#each creation.instincts}}
			<label class="creation-option">
				<input type="radio" name="creation-instinct" class="creation-choice"
				       data-field="instinct" value="{{value}}"
				       {{#if selected}}checked{{/if}} />
				{{value}}
			</label>
			{{/each}}
		</div>
	</section>

	<section class="creation-section">
		<h3>Appearance <span class="creation-choose">Choose 1 on each line</span></h3>
		{{#each creation.appearance}}
		<div class="creation-options-row appearance-line">
			{{#each options}}
			<label class="creation-option">
				<input type="radio" name="creation-appearance-{{../lineIdx}}" class="creation-choice"
				       data-field="appearance.{{../lineIdx}}" value="{{value}}"
				       {{#if selected}}checked{{/if}} />
				{{value}}
			</label>
			{{/each}}
		</div>
		{{/each}}
	</section>

	{{else}}
	<p class="creation-hint">Select a playbook to see character creation options.</p>
	{{/if}}
</div>
